* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 18px;
}

.ref {
    text-decoration: none;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    background-color: #dbe2e9;
    color: #05090c;
}

a {
    color: #418ce1;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: 'Lexend', sans-serif;
}

.fotito {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    gap: .5rem;
    font-size: .7rem;
}

.fotito img {
    width: 50%;
}

header {
    font-size: 2rem;
    padding: 2rem;
    background-color: #eee;
    color: #001;
    display: flex;
    align-items: center;
}

header div {
    flex-grow: 1;
}
header img {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
}
header h1 {
    color: royalblue;
}
header h3 {
    color: orangered;
}

nav ul li a {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 1rem;
}

nav ul li a:hover {
    background-color: #fff2;
}

nav ul {
    background-color: mediumseagreen;
    padding: 1rem;
    justify-content: center;
    display: flex;
    list-style: none;
}

nav {
    -webkit-position: -webkit-sticky;
    position: sticky;
    top: 0;
}


main {
    align-self: center;
    max-width: 800px;
    background-color: #fff;
    margin: 2rem;
    padding: 1rem;
}

footer {
    padding: 1rem 2rem;
    background-color: #05090c;
    color: #fff;
}

blockquote {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
}

blockquote p {
    font-style: italic;
}
blockquote .perfil {
    flex-shrink: 0;
    background-image: url('../res/raul.jpg');
    width: 10rem;
    height: 10rem;
    border-radius: 2rem;
    background-size: cover;
    background-position: center;
}
blockquote .perfil.dos {
    background-image: url('../res/laura.jpg');
}